.*
*.o
*.s
*.su

System.map
arch/arm/lib/lib.a
mx6dl_c_2g_sabresd.cfg.cfgtmp
include/config/
include/generated/
u-boot
u-boot-6dl-2g.imx
u-boot-6dl.imx
u-boot-6q-2g.imx
u-boot-6q.imx
u-boot-nodtb.bin
u-boot.bin
u-boot.cfg
u-boot.imx
u-boot.lds
u-boot.map
u-boot.srec
u-boot.sym

